@model Final.Models.Service

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Service</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallery1)
        </dt>
        <dd class="col-sm-10">
            <img src="~/admin/assets/img/@Model.Gallery1" style="border-radius:10%; width:50px">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallery2)
        </dt>
        <dd class="col-sm-10">
            <img src="~/admin/assets/img/@Model.Gallery2" style="border-radius:10%; width:50px">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gallery3)
        </dt>
        <dd class="col-sm-10">
            <img src="~/admin/assets/img/@Model.Gallery3" style="border-radius:10%; width:50px">
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpertTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpertText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpertText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-gray-200">Back to List</a>
</div>
